@model GameBoardViewModel

@{
    ViewData["Title"] = "Game Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@if (Model.Matrix.GetLength(0) == 1 && Model.Matrix.GetLength(1) == 1)
{
    <script type="text/javascript">alert(Model.Matrix[0, 0]);</script>
    <script>$("#grid-container").remove()</script>
    <div id="final-screen">
        <img src="@Url.Content("~/Images/" + Model.Matrix[0,0])" alt="Picture" height="300" width="300" />
    </div>
}
else
{
    <div class="grid-container" id="grid-container">

        @for (int i = 0; i < Model.Matrix.GetLength(0); i++)
        {
            for (int j = 0; j < Model.Matrix.GetLength(1); j++)
            {
                <div>
                    <img src="@Url.Content("~/Images/" + Model.Matrix[i, j])" alt="Picture" height="75" width="75" />
                </div>
            }
        }
    </div>
}



<script>$(document).ready(function () {
        $(document).keydown(function (event) {
            function getUrlParams(url) {
                var queryParams = {};
                var params = url.split('?')[1];
                if (params) {
                    params = params.split('&');
                    for (var i = 0; i < params.length; i++) {
                        var pair = params[i].split('=');
                        queryParams[pair[0]] = decodeURIComponent(pair[1]);
                    }
                }
                return queryParams;
            }
            var queryParams = getUrlParams(window.location.href);
            if (event.keyCode == 37 || event.keyCode == 38 || event.keyCode == 39 || event.keyCode == 40 || event.keyCode == 32) {
                queryParams['keyCode'] = event.keyCode;
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: queryParams,
                    success: function (response) {
                        location.reload(true);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        function getUrlParams(url) {
            var queryParams = {};
            var params = url.split('?')[1];
            if (params) {
                params = params.split('&');
                for (var i = 0; i < params.length; i++) {
                    var pair = params[i].split('=');
                    queryParams[pair[0]] = decodeURIComponent(pair[1]);
                }
            }
            return queryParams;
        }
        var queryParams = getUrlParams(window.location.href);
        queryParams['keyCode'] = 1;
      
        function makeAjaxCall() {
            $.ajax({
                type: 'POST',
                url: '/',
                data: queryParams,
                success: function (data) {
                    location.reload(true);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        setInterval(makeAjaxCall, 1000); // 1000 milliseconds = 1 second
    });</script>
