@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LevelEditorViewModel

@{
Layout = null;
}

<script>
    // Define a JavaScript function to populate the select elements with enum values
    function populateSelect(selectId, selectedItem) {
        var select = document.getElementById(selectId);
        select.options.length = 0; // Clear existing options

        // Define enum values
        var enumValues = ["EnemyTank", "MyTank", "BrickWall", "Empty", "StoneWall", "WoodsWall"];

        // Populate options
        for (var i = 0; i < enumValues.length; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = enumValues[i];
            if (i === selectedItem) {
                option.selected = true; // Mark the selected item
            }
            select.appendChild(option);
        }
    }
</script>
<h3>Level Editor</h3>

<form method="post" action="@Url.Action("Save", "Home", new { LevelName = (string)ViewBag.levelName})">
    @for (int i = 0; i < 10; i++)
    {
        for (int j = 0; j < 10; j++)
    {
    <select id="ItemPositions_@(i * 10 + j)" name="@i,@j"></select>

    <script>populateSelect("ItemPositions_@(i * 10 + j)", @Model.ItemPositions[i, j]);</script>
    }
    <br />
    }

    <button type="submit">Save</button>
</form>