
<h3>Enter new Level name</h3>

<form method="post" action="/Home/LevelEditor">
    <input type="hidden" name="isNewLevel" value="true" />
    <input type="text" name="levelName" placeholder="Enter your string here" required>
    <br>
    <input type="submit" value="Submit">
</form>