@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<h3>Пересування: </h3>
<p>Танком можна рухатися у чотирьох напрямках: вгору, вниз, вліво, вправо.</p>
<h3>Знищення танків:</h3>
<p>Гравець стріляє снарядами для знищення ворожих танків.
Ворожі танки знищуються одним або кількома пострілами залежно від їхнього типу.</p>
<h3>Захист бази:</h3>
<p>Базу потрібно захищати від ворожих танків.
Якщо база знищена, гра закінчується.</p>
<h3>Життя:</h3>
<p>Обмежена кількість життів.
Втрата життя при знищенні танка гравця.</p>

